{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "comma-dangle": 1,
    "quotes": [ 1, "single" ],
    "no-undef": 1,
    "global-strict": 0,
    "no-extra-semi": 1,
    "no-underscore-dangle": 0,
    "no-console": 0,
    "no-unused-vars": 1,
    "no-trailing-spaces": [1, { "skipBlankLines": true }],
    "no-unreachable": 1,
    "no-alert": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-multi-comp": 1,
    "react/prefer-es6-class": 1,
    "react/prefer-stateless-function": 1,
    "react/jsx-pascal-case": 1,
    "react/jsx-closing-bracket-location": 1,
    "react/self-closing-comp": 1,
    "jsx-quotes": 1,
    "no-multi-spaces": 1,
    "react/jsx-tag-spacing": 1,
    "react/jsx-curly-spacing": 1,
    "react/jsx-boolean-value": 1,
    "react/no-string-refs": 1,
    "react/jsx-wrap-multilines": 1,
    "react/jsx-no-bind": 0, //The performance benefit of using bound functions in onClick() is probably insignificant
    "react/require-render-return": 1,
    "react/no-is-mounted": 1,
    "react/prop-types": 0, //This should probably be unsurpressed
    "react/jsx-no-target-blank": 1,
    "no-extra-boolean-cast": 1,
    "react/no-deprecated": 2,
    "no-redeclare": 1,
    "no-prototype-builtins": 1,
    "no-case-declarations": 1,
    "no-useless-escape": 1,
    "no-cond-assign": 1,
    "react/no-unescaped-entities": 1,
    "no-debugger": 1,
    "react/display-name": 1
  }
}