.gallery-view {
  grid-area: gallery-view;

  background: transparent;

  display: flex;
  flex-flow: nowrap row;
  justify-content: center;

  @media only screen and (max-width: 1145px) {
    flex-flow: wrap row;
  }
}