.gallery-view {
  background: transparent;

  grid-column-start: start;
  grid-column-end: end;
  grid-row-start: mid;
  grid-row-end: end;

  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 200px auto;
  grid-template-areas:
    ". ."
    "sidebar gallery"
;

  grid-gap: 10px 15px;
}