.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: none;

  &.display-block {
    display: block;
  }

  &.display-none {
    display: none;
  }
}

.modal {
  background: lightgray;
  width: 100vw;
  height: 100vh;

  overflow: auto;

  display: grid;
  grid-template-columns: 200px [start] 400px [mid] auto [end] 200px;
  grid-template-rows: [start] 40px [mid] auto [end];

  grid-template-areas: "navbar navbar navbar navbar";

  grid-gap: 10px 15px;
}