.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);

  justify-content: center;
  align-items: center;

  &.display-block {
    display: flex;
  }

  &.display-none {
    display: none;
  }
}

.modal {
  background: lightgray;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 40px 150px auto;

  grid-gap: 0;

  grid-template-areas:
    "navbar"
    "box"
    "transition"
;

  .box-box {
    grid-area: box;

    background: #ffffff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);


    z-index: 1060
  }
}

.transition-group {
  overflow: auto;

  grid-area: transition;

  display: grid;

  grid-template-columns: 50px auto 50px;
  grid-template-areas: " . gallery-view .";
  grid-gap: 0 10px;

  @media only screen and (max-width: 1242px) {
    grid-template-columns: 5px auto auto;
  }

  @media only screen and (max-width: 1145px) {
    grid-template-columns: auto ;
    grid-template-areas: "gallery-view";
    grid-gap: 0;
  }
}

.item-enter {
  opacity: 0;
  z-index: 1;
}
.item-enter.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 0;
}
